html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@import "_header.scss";
@import "_catalog.scss";

@each $key, $val in $breakpoints {
  @media (#{$val}) {
    .catalog {
      grid-template-columns: repeat($key, minmax(200px, 1fr));
    }
  }
}
